.add-post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.add-post-img {
  width: 500px;
}
.quill {
  overflow-y: scroll;
  height: 200px;
  max-width: 100%;
}
.add-post form {
  width: 80%;
}
.quill {
  border-radius: 5px;
  border-width: 1px;
  border-color: transparent;
  border: 1px solid #ccc;
  height: 400px;
}
