.footer-bottom {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0d1f;
}
.footer-bottom p {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
}
