.profile-container {
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 20px;
  width: 50vw;
}
.pro-pic img {
  width: 110px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid grey;
  cursor: pointer;
}
.pro-pic img:hover {
  opacity: 0.8;
}
.pro-pic-input {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0;
  cursor: pointer;
  top: 0;
}
.pro-pic form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.username {
  color: var(--primary-color);
  text-transform: capitalize;
}
